.profile-container {
  font-family: 'Roboto', sans-serif;
}

.profile-container h1 {
  font-size: 24px;
  color: #7C55FB;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 1.2px;
  text-align: center;
  margin-top: 82px;
  text-transform: uppercase;
}

.profile-fields-container {
  width: 740px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid #666;
  box-shadow: #666 1px 1px 4px;
}

.profile-fields-container .profile-image-container {
  height: 200px;
  width: 100%;
  background-image: url('/assets/images/Solid_Pattern_thumb.png');
  background-size: cover;
  background-position: center center;
}

.profile-fields-container .profile-image-container img {
  width: 128px;
  height: 128px;
  border-radius: 32px;
  margin-left: auto;
  margin-right:auto;
  padding-top:40px;
  display: block;
}

.profile-fields-container i {
  font-size: 14px;
  color: #89969F;
  padding-left: 26px;
  padding-right: 10px;
  margin-top: 24px;
}

.profile-fields-container input[type=text].field-text {
  height: 12px;
  width: 280px;
  border: 1px solid #89969F;
  border-radius: 4px;
  padding: 10px;
}

.profile-fields-container input[type=text].field-text::placeholder {
  color: rgba(102,102,102,0.2);
}
